.grid-container {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        background-color :black;
        padding: 50px;
        padding-top: 1px;
    }
    
    .grid-item {
        border: 1px solid rgba(0, 0, 0, 0.8);
        padding: 7px;
        font-size: 13px;
        text-align: left;
    }
    .grid-container4 {
        display: grid;
        grid-template-columns: 0fr 1fr ;
        background-color :black;
        padding: 10px;
        border-radius: 2px;
    }
    .post-col-grid {
        border: 0px solid transparent;
        font-size: 12px;
        text-align :left; 
        border-bottom: 1px solid grey;
        
    }
    .c3-img-right{
        float: right;
        width: 100px;
        }
    .like-button{
        float: right;
        color:white;
        background: #1a1818;
        margin: 2px;
        padding: 5px;
        border: transparent;
    }
    .img-col{
        float: right; 
        color: yellow;
        font-size: medium;
    }
    .like{
        float: right;
        background: #2b2828;
        color: #a7a2c1;
        border: transparent;
        font-size: medium;
    }
    .map{
        float: left;
        color: gray;
        background: #1a1818;
        margin: 10px;
        padding: 5px;
        border: transparent;
    }
    
     
    
   